@{
    Page.Title = "Women";

    var db = Database.Open("shopping");
    var products = db.Query("SELECT * FROM PRODUCTS where Category = @0","Women").ToList();
}
<h1>Women</h1>
<div id="productsWrapper">
    <ul id="products" data-role="listview" data-inset="true">
        @foreach (var p in products) {
            <li class="product">
                <a href="~/Showcase/@p.Id" title="View @p.Name">
                    <img class="hide-from-desktop" src="~/Images/Products/@p.ImageName" alt="Image of @p.Name" />
                
                    <div class="productInfo">
                        <h3>@p.Name</h3>
                        <img class="product-image hide-from-mobile" src="~/Images/Products/@p.ImageName" alt="Image of @p.Name" />
                        <p class="description">@p.Description</p>
                        <p class="price hide-from-desktop">@string.Format("{0:f}", p.Price)</p>                    
                    </div>
                </a>

                <!-- Desktop only -->
                <div class="action  hide-from-mobile">
                    <p class="price">Rs @string.Format("{0:f}", p.Price)</p>
                    <a class="order-button" href="~/Showcase/@p.Id" title="Order @p.Name">DETAILS</a>
                </div>
                 
            </li>

        }
    </ul>
</div>
